@media screen and (max-width:768px) {
  *{
      margin: 0%;
      padding: 0%;
      align-items: center;
      justify-content: center;
      font-family: sans-serif;
  }
  header{
      width: 100%;
      height: 150px;
      background-color: #29292c;
  }
  #divheader1{
      float: left;
      margin-right: 0%;
  }
  #divheader2{
      float: right;
      margin-left: 0%;
  }
  li{
      list-style-type: none;
  }
  .liste{
      display: block;
      margin-right: 25px;
      margin-left: 25px;
      margin-top: 10px;
      padding: 15px 15px 15px 15px;
      border: 1px solid rgb(139, 109, 51);
      border-radius: 3px;
      background-color: gainsboro;
  }
  .headr{
      text-decoration: none;
      font-size: 20px;
      font-weight: bold;
      color: rgb(139, 109, 51);
  }
  .listee{
      margin-right: 25px;
      margin-left: 25px;
      margin-top: 25px;
      padding: 15px 15px 15px 15px;
  }
  .headrr{
      margin-right: 25px;
      margin-left: 25px;
      margin-top: 25px;
      text-decoration: none;
      font-size: 35px;
      font-weight: bold;
      color: rgb(139, 109, 51);
  }
  section{
      background: linear-gradient(to bottom right, lightgrey, white);
      /* Replace "white" with your desired end color */
      width: 800px;
      height: 350vh;
  }
  .bouton{
    width: 400px;
    height: 100px;
    border: 3px solid rgb(139, 109, 51);
    border-radius: 5px;
    background-color: whitesmoke;
  }
  .lien{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: gray;
  }
  h1{
    color: white;
    font-size: 30px;
    font-weight: bold;
  }
}
@media screen and (min-width:769px){
  *{
      margin: 0%;
      padding: 0%;
      align-items: center;
      justify-content: center;
      font-family: sans-serif;
  }
  header{
      width: 100%;
      height: 100px;
      background-color: #29292c;
  }
  #divheader1{
      float: left;
      margin-right: 0%;
  }
  #divheader2{
      float: right;
      margin-left: 0%;
  }
  li{
      list-style-type: none;
  }
  .liste{
      display: inline-block;
      margin-right: 25px;
      margin-left: 25px;
      margin-top: 25px;
      padding: 15px 15px 15px 15px;
      border: 1px solid rgb(139, 109, 51);
      border-radius: 3px;
      background-color: gainsboro;
  }
  .headr{
      text-decoration: none;
      font-size: 20px;
      font-weight: bold;
      color: rgb(139, 109, 51);
  }
  .listee{
      margin-right: 25px;
      margin-left: 25px;
      margin-top: 25px;
      padding: 15px 15px 15px 15px;
  }
  .headrr{
      margin-right: 25px;
      margin-left: 25px;
      margin-top: 25px;
      text-decoration: none;
      font-size: 35px;
      font-weight: bold;
      color: rgb(139, 109, 51);
  }
  section{
      background: linear-gradient(to bottom right, lightgrey, white);
      /* Replace "white" with your desired end color */
      width: 100%;
      height: 350vh;
  }
  .bouton{
    width: 400px;
    height: 100px;
    border: 3px solid rgb(139, 109, 51);
    border-radius: 5px;
    background-color: whitesmoke;
  }
  .lien{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: gray;
  }
  h1{
    color: white;
    font-size: 30px;
    font-weight: bold;
  }
}