@media screen and (max-width:768px) {
  *{
      margin: 0%;
      padding: 0%;
      align-items: center;
      justify-content: center;
      font-family: sans-serif;
  }
  header{
      width: 100%;
      height: 150px;
      background-color: #29292c;
  }
  #divheader1{
      float: left;
      margin-right: 0%;
  }
  #divheader2{
      float: right;
      margin-left: 0%;
  }
  li{
      list-style-type: none;
  }
  .liste{
      display: block;
      margin-right: 25px;
      margin-left: 25px;
      margin-top: 10px;
      padding: 15px 15px 15px 15px;
      border: 1px solid rgb(139, 109, 51);
      border-radius: 3px;
      background-color: gainsboro;
  }
  .headr{
      text-decoration: none;
      font-size: 20px;
      font-weight: bold;
      color: rgb(139, 109, 51);
  }
  .listee{
      margin-right: 25px;
      margin-left: 25px;
      margin-top: 25px;
      padding: 15px 15px 15px 15px;
  }
  .headrr{
      margin-right: 25px;
      margin-left: 25px;
      margin-top: 25px;
      text-decoration: none;
      font-size: 35px;
      font-weight: bold;
      color: rgb(139, 109, 51);
  }
  section{
      background: linear-gradient(to bottom right, lightgrey, white);
      /* Replace "white" with your desired end color */
      width: 650px;
      height: 170vh;
  }
  form{
      background-color: #34495e;   
      border-radius:40px;
      padding: 40px;
      width: 410px;
      top:3px;
      margin-top: 75px;
  }
  .boutons{
    width: auto;
    height: 50px;
    background-color: whitesmoke;
    color: #29292c;
    border: 2px solid #9aa405;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .animation{
      display: inline-block;
      margin-top:-115px;
    }
  form input[type="file"]{
      height: 30px;
      transform: translatex(50px);
  }
  .Nom{
      margin: 2px;
  }
  form input[type="text"]{
      display: inline-block;
      background: none;
      border-top: 1px solid #34495e;
      border-right: 1px solid #34495e;
      border-bottom: 1px solid #30336b;
      border-left: 1px solid #30336b;
      margin: 20px auto;
      text-align: center;
      padding: 14px 14px;
      width: 200px;
      outline: none;
      color: white;
      transition: 0.24s;
      font-size: 20px;
      margin-left:20px;
      padding: 5px;
      box-sizing: border-box;
      }
  .chiffre{
      margin-right: auto;
  }
  div {
      margin-bottom: 10px; /* espace entre les divs */
    }
    label {
      display: inline-block;
      width: 100px;
      font-weight: bold;
    }
  .nm{
      width: 90px;
  }
  .S0{
    margin-left:10px;
  }
  .S3,.S2{
      margin-left:26px;
    }
    .S9,.S4{
      margin-left:10px;
    }
    .S1{
      margin-left:50px;
    }
    .S5{
      margin-left:22px; 
    }
    .photo{
      padding-left: -2px;
    }
    form input[type="text"]:focus{
      width: 300px;
      border-bottom: 2px solid #9aa405;
      border-left: 2px solid #af8e08;
      border-width: 2px;
  }
  .Valider{
    font-weight: bold;
    margin-left: 15px;
    color:white;
    font-size:16px;
    text-decoration: wavy;
    }
    form input[type="checkbox"]{
      margin-left:15px;
      margin-top:20px;
  }
  form input[type="submit"]{
      transform: translateX(300px);
      background-color: white;
      width:100px;
      height: 30px;
      border-radius: 15px;
      border-color: #9aa405;
      font-size: 15px;
  }
  form input[type="submit"]:hover{
      background: #9aa405;
  }
  #pdp img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      overflow: hidden;
  }
  
  #pdp img {
      width: 100%;
      height: auto;
      border-radius: 50%;
  }
}
@media screen and (min-width:769px){
  *{
      margin: 0%;
      padding: 0%;
      align-items: center;
      justify-content: center;
      font-family: sans-serif;
  }
  header{
      width: 100%;
      height: 100px;
      background-color: #29292c;
      position: absolute;
  }
  #divheader1{
      float: left;
      margin-right: 0%;
  }
  #divheader2{
      float: right;
      margin-left: 0%;
  }
  li{
      list-style-type: none;
  }
  .liste{
      display: inline-block;
      margin-right: 25px;
      margin-left: 25px;
      margin-top: 25px;
      padding: 15px 15px 15px 15px;
      border: 1px solid rgb(139, 109, 51);
      border-radius: 3px;
      background-color: gainsboro;
  }
  .headr{
      text-decoration: none;
      font-size: 20px;
      font-weight: bold;
      color: rgb(139, 109, 51);
  }
  .listee{
      margin-right: 25px;
      margin-left: 25px;
      margin-top: 25px;
      padding: 15px 15px 15px 15px;
  }
  .headrr{
      margin-right: 25px;
      margin-left: 25px;
      margin-top: 25px;
      text-decoration: none;
      font-size: 35px;
      font-weight: bold;
      color: rgb(139, 109, 51);
  }
  section{
      background: linear-gradient(to bottom right, lightgrey, white);
      /* Replace "white" with your desired end color */
      width: 100%;
      height: 150vh;
      padding-top: 120px;
  }
  form {
    background-color: #34495e;
    top: 100px;
    left: 400px;
    border-radius: 40px;
    padding: 40px;
    width: 600px;
    padding-top: 120px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .animation{
      display: inline-block;
      margin-top:-115px;
    }
  form input[type="file"]{
      height: 30px;
      transform: translatex(50px);
  }
  .Nom{
      margin: 2px;
  }
  form input[type="text"]{
      display: inline-block;
      background: none;
      border-top: 1px solid #34495e;
      border-right: 1px solid #34495e;
      border-bottom: 1px solid #30336b;
      border-left: 1px solid #30336b;
      margin: 20px auto;
      text-align: center;
      padding: 14px 14px;
      width: 200px;
      outline: none;
      color: white;
      transition: 0.24s;
      font-size: 20px;
      margin-left:20px;
      padding: 5px;
      box-sizing: border-box;
      }
  .chiffre{
      margin-right: auto;
  }
  div {
      margin-bottom: 10px; /* espace entre les divs */
    }
    label {
      display: inline-block;
      width: 100px;
      font-weight: bold;
    }
  .nm{
      width: 90px;
  }
  .S0{
    margin-left:10px;
  }
  .S3,.S2{
      margin-left:26px;
    }
    .S9,.S4{
      margin-left:10px;
    }
    .S1{
      margin-left:50px;
    }
    .S5{
      margin-left:22px; 
    }
    .photo{
      padding-left: -2px;
    }
    form input[type="text"]:focus{
      width: 300px;
      border-bottom: 2px solid #9aa405;
      border-left: 2px solid #af8e08;
      border-width: 2px;
  }
  .Valider{
    font-weight: bold;
    margin-left: 15px;
    color:white;
    font-size:16px;
    text-decoration: wavy;
    }
    form input[type="checkbox"]{
      margin-left:15px;
      margin-top:20px;
  }
  .boutons{
    width: auto;
    height: 50px;
    background-color: whitesmoke;
    color: #29292c;
    border: 2px solid #9aa405;
    border-radius: 10px;
    margin-left: 30px;
    margin-right: 30px;
  }
  #pdp img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      overflow: hidden;
  }
  
  #pdp img {
      width: 100%;
      height: auto;
      border-radius: 50%;
  }
}