@media screen and (max-width:768px) {
    *{
        margin: 0%;
        padding: 0%;
        align-items: center;
        justify-content: center;
        font-family: sans-serif;
    }
    header{
        width: 100%;
        height: 150px;
        background-color: #29292c;
        position: static;
    }
    #divheader1{
        float: left;
        margin-right: 0%;
    }
    #divheader2{
        float: right;
        margin-left: 0%;
    }
    li{
        list-style-type: none;
    }
    .liste{
        display: block;
        margin-right: 25px;
        margin-left: 25px;
        margin-top: 10px;
        padding: 15px 15px 15px 15px;
        border: 1px solid rgb(139, 109, 51);
        border-radius: 3px;
        background-color: gainsboro;
    }
    .headr{
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        color: rgb(139, 109, 51);
    }
    .listee{
        margin-right: 25px;
        margin-left: 25px;
        margin-top: 25px;
        padding: 15px 15px 15px 15px;
    }
    .headrr{
        margin-right: 25px;
        margin-left: 25px;
        margin-top: 25px;
        text-decoration: none;
        font-size: 35px;
        font-weight: bold;
        color: rgb(139, 109, 51);
    }
    section{
        background: linear-gradient(to bottom right, lightgrey, white);
        width: 515px;
        height: 150vh;
    }
    #div1 h1 {
        text-align: center;
        width: 500px;
        color: rgb(255, 253, 253);
        font-size: 30px;
      }
      
      span h4 {
        color: rgb(255, 253, 253);
        font-weight: 100;
      }
      
      #formulaire {
        background-color: rgb(0, 0, 0, 0.6);
        max-width: 400px;
        border-radius: 10px;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      
      #formulaire a {
        color: rgb(194, 192, 190);
      }
      
      #formulaire a:hover {
        color: rgb(168, 145, 145);
      }
      
      #formulaire a:visited {
        color: rgb(61, 27, 70);
      }
      
      #formulaire input {
        border: none;
        width: 90%;
        margin: 2px 0;
        height: 30px;
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        border-radius: 8px;
        background-color: rgb(68, 68, 77);
        opacity: 0.9;
      }
      
      #formulaire button {
        border: none;
        width: 150px;
        height: 50px;
        margin: 10px 10px;
        font-size: 23px;
        font-family: 'Advent Pro', sans-serif;
        border-radius: 8px;
        font-size: 20px;
        background-color: rgb(255, 254, 253);
        color: #2f2e31;
      }
      
      #formulaire span {
        display: inline-block;
      }
      .social_icons a {
        color: rgb(255, 253, 253);
        width: 100px;
        transition: 1s;
        text-decoration: none;
        font-size: 30px;
      }
      
      .social_icons a:hover {
        color: #dedee4;
      }
}
@media screen and (min-width:769px) {
    *{
        margin: 0%;
        padding: 0%;
        align-items: center;
        justify-content: center;
        font-family: sans-serif;
    }
    header{
        width: 100%;
        height: 100px;
        background-color: #29292c;
    }
    #divheader1{
        float: left;
        margin-right: 0%;
    }
    #divheader2{
        float: right;
        margin-left: 0%;
    }
    li{
        list-style-type: none;
    }
    .liste{
        display: inline-block;
        margin-right: 25px;
        margin-left: 25px;
        margin-top: 25px;
        padding: 15px 15px 15px 15px;
        border: 1px solid rgb(139, 109, 51);
        border-radius: 3px;
        background-color: gainsboro;
    }
    .headr{
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        color: rgb(139, 109, 51);
    }
    .listee{
        margin-right: 25px;
        margin-left: 25px;
        margin-top: 25px;
        padding: 15px 15px 15px 15px;
    }
    .headrr{
        margin-right: 25px;
        margin-left: 25px;
        margin-top: 25px;
        text-decoration: none;
        font-size: 35px;
        font-weight: bold;
        color: rgb(139, 109, 51);
    }
    section{
        background: linear-gradient(to bottom right, lightgrey, white);
        /* Replace "white" with your desired end color */
        width: 100%;
        height: 200vh;
    }#div1 h1 {
        text-align: center;
        color: rgb(255, 253, 253);
       /* font-family: Georgia, 'Times New Roman', Times, serif;*/
        font-size: 40px;
      }
      
      span h4 {
        color: rgb(255, 253, 253);
        font-weight: 100;
      }
      
      #formulaire {
        background-color: rgb(0, 0, 0, 0.6);
        background-image: url("back.jpeg");
        max-width: 400px;
        border-radius: 10px;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      
      #formulaire a {
        color: rgb(194, 192, 190);
      }
      
      #formulaire a:hover {
        color: rgb(168, 145, 145);
      }
      
      #formulaire a:visited {
        color: rgb(61, 27, 70);
      }
      
      #formulaire input {
        border: none;
        width: 90%;
        margin: 2px 0;
        height: 30px;
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        border-radius: 8px;
        background-color: rgb(68, 68, 77);
        opacity: 0.9;
      }
      
      #formulaire button {
        border: none;
        width: 150px;
        height: 50px;
        margin: 10px 10px;
        font-size: 23px;
        font-family: 'Advent Pro', sans-serif;
        border-radius: 8px;
        font-size: 20px;
        background-color: rgb(255, 254, 253);
        color: #2f2e31;
      }
      
      #formulaire span {
        display: inline-block;
      }
      .social_icons a {
        color: rgb(255, 253, 253);
        width: 100px;
        transition: 1s;
        text-decoration: none;
        font-size: 30px;
      }
      
      .social_icons a:hover {
        color: #dedee4;
      }
}