@media screen and (max-width:768px) {
  *{
      margin: 0%;
      padding: 0%;
      align-items: center;
      justify-content: center;
      font-family: sans-serif;
  }
  header{
      width: 100%;
      height: 150px;
      background-color: #29292c;
      position: static;
  }
  #divheader1{
      float: left;
      margin-right: 0%;
  }
  #divheader2{
      float: right;
      margin-left: 0%;
  }
  li{
      list-style-type: none;
  }
  .liste{
      display: block;
      margin-right: 25px;
      margin-left: 25px;
      margin-top: 10px;
      padding: 15px 15px 15px 15px;
      border: 1px solid rgb(139, 109, 51);
      border-radius: 3px;
      background-color: gainsboro;
  }
  .headr{
      text-decoration: none;
      font-size: 20px;
      font-weight: bold;
      color: rgb(139, 109, 51);
  }
  .listee{
      margin-right: 25px;
      margin-left: 25px;
      margin-top: 25px;
      padding: 15px 15px 15px 15px;
  }
  .headrr{
      margin-right: 25px;
      margin-left: 25px;
      margin-top: 25px;
      text-decoration: none;
      font-size: 35px;
      font-weight: bold;
      color: rgb(139, 109, 51);
  }
  section{
      background: linear-gradient(to bottom right, lightgrey, white);
      width: 515px;
      height: 150vh;
  }
  .login-form {
    width: 370px;
    padding: 40px;
    top: 59%;
    left: 50%;
    background: #34495e;
    text-align: center;
    border-radius: 50px;
  }
  
  .login-form input[type="text"],
  .login-form input[type="password"] {
    background: none;
    border-top: 1px solid #34495e;
    border-right: 1px solid #34495e;
    border-bottom: 1px solid #30336b;
    border-left: 1px solid #30336b;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 14px;
    width: 200px;
    outline: none;
    color: white;
    transition: 0.24s;
    font-size: 20px;
  }
  .login-form input[type="email"] {
    background: none;
    border-top: 1px solid #34495e;
    border-right: 1px solid #34495e;
    border-bottom: 1px solid #30336b;
    border-left: 1px solid #30336b;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 14px;
    width: 200px;
    outline: none;
    color: white;
    transition: 0.24s;
    font-size: 20px;
  }
  .login-form h1 {
    color: hsla(0, 0%, 100%, 0.658);
    text-transform: uppercase;
    font-size: 50px;
  }
  .login-form input[type="email"]:focus {
    width: 300px;
    border-bottom: 2px solid #9aa405;
    border-left: 2px solid #af8e08;
    border-width: 2px;
  }
  .login-form input[type="text"]:focus,
  .login-form input[type="password"]:focus {
    width: 300px;
    border-bottom: 2px solid #9aa405;
    border-left: 2px solid #af8e08;
    border-width: 2px;
  }
  
  .login-form input[type="submit"],
  .login-form input[type="reset"] {
    background: none;
    display: inline-block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 40px;
    cursor: pointer;
    outline: none;
    color: white;
    transition: 0.24s;
    border-radius: 24px;
    border-color: #9aa405;
    font-size: 20px;
  }
  
  .login-form input[type="submit"]:hover {
    background: #9aa405;
  }
  
  .login-form input[type="reset"]:hover {
    background: #565c03;
  }
  
  .signup-link {
    color: white;
    text-decoration: none;
  }
  
  .signup-link:hover {
    text-decoration: underline;
  }
  *{
    margin: 0%;
    padding: 0%;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
  }
  
}
@media screen and (min-width:769px) {
.login-form {
  width: 370px;
  padding: 40px;
  top: 59%;
  left: 50%;
  background: #34495e;
  text-align: center;
  border-radius: 50px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  background: none;
  border-top: 1px solid #34495e;
  border-right: 1px solid #34495e;
  border-bottom: 1px solid #30336b;
  border-left: 1px solid #30336b;
  display: block;
  margin: 20px auto;
  text-align: center;
  padding: 14px 14px;
  width: 200px;
  outline: none;
  color: white;
  transition: 0.24s;
  font-size: 20px;
}
.login-form input[type="email"] {
  background: none;
  border-top: 1px solid #34495e;
  border-right: 1px solid #34495e;
  border-bottom: 1px solid #30336b;
  border-left: 1px solid #30336b;
  display: block;
  margin: 20px auto;
  text-align: center;
  padding: 14px 14px;
  width: 200px;
  outline: none;
  color: white;
  transition: 0.24s;
  font-size: 20px;
}
.login-form h1 {
  color: hsla(0, 0%, 100%, 0.658);
  text-transform: uppercase;
  font-size: 50px;
}
.login-form input[type="email"]:focus {
  width: 300px;
  border-bottom: 2px solid #9aa405;
  border-left: 2px solid #af8e08;
  border-width: 2px;
}
.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
  width: 300px;
  border-bottom: 2px solid #9aa405;
  border-left: 2px solid #af8e08;
  border-width: 2px;
}

.login-form input[type="submit"],
.login-form input[type="reset"] {
  background: none;
  display: inline-block;
  margin: 20px auto;
  text-align: center;
  padding: 14px 40px;
  cursor: pointer;
  outline: none;
  color: white;
  transition: 0.24s;
  border-radius: 24px;
  border-color: #9aa405;
  font-size: 20px;
}

.login-form input[type="submit"]:hover {
  background: #9aa405;
}

.login-form input[type="reset"]:hover {
  background: #565c03;
}

.signup-link {
  color: white;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}
*{
  margin: 0%;
  padding: 0%;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}
header{
  width: 100%;
  height: 100px;
  background-color: #29292c;
}
#divheader1{
  float: left;
  margin-right: 0%;
}
#divheader2{
  float: right;
  margin-left: 0%;
}
li{
  list-style-type: none;
}
.liste{
  display: inline-block;
  margin-right: 25px;
  margin-left: 25px;
  margin-top: 25px;
  padding: 15px 15px 15px 15px;
  border: 1px solid rgb(139, 109, 51);
  border-radius: 3px;
  background-color: gainsboro;
}
.headr{
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: rgb(139, 109, 51);
}
.listee{
  margin-right: 25px;
  margin-left: 25px;
  margin-top: 25px;
  padding: 15px 15px 15px 15px;
}
.headrr{
  margin-right: 25px;
  margin-left: 25px;
  margin-top: 25px;
  text-decoration: none;
  font-size: 35px;
  font-weight: bold;
  color: rgb(139, 109, 51);
}
section{
  background: linear-gradient(to bottom right, lightgrey, white);
  /* Replace "white" with your desired end color */
  width: 100%;
  height: 125vh;
}
  
}